* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../img_kevin/unjfsc_frontis.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
    border: 1.5px solid #3180f6;
    border-radius: 6px;
}

.input-group input {
    font-size: 1rem;
    width: 350px;
    padding: 15px 15px 15px 35px;
    border-radius: 6px;
    border: 1px solid #dadce0;
    outline-offset: 2px;
    outline-color: #4285f4;
    caret-color: #4285f4;
    box-sizing: border-box;
}

.input-group .icon-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #3180f6;
    font-size: 16px;
}

.input-group .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #3180f6;
    cursor: pointer;
}

#btnCrear{
    margin: 30px auto 0 auto;
    width: 300px;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background-color: #3180f6;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    box-sizing: border-box;
    font-weight: bold;
}

#btnCrear:disabled {
    background-color: #bec5cc;
    cursor: default;
    color: white;
}

#btnCancelar{
    margin: 30px auto 0 auto;
    width: 300px;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background-color: #fea198;
    color: #000;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    box-sizing: border-box;
    font-weight: bold;
}

p {
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    font-family: Arial;
    font-weight: 700;
}

.logo-icon {
    width: 60px;
    height: auto;
    vertical-align: middle;
    margin: 0 10px;
}


/* Responsive para móvil */
@media (max-width: 480px) {
    .container {
        padding: 20px 20px;
        max-width: 95%;
    }

    #user,
    #pass,
    #btnIniciar {
        max-width: 100%;
    }
}