body {
    font-family: Arial, sans-serif;
    background-image: url("../img_kevin/alianza_lima.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 360px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group .icon-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
}

.input-group .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login {
    background-color: green;
}

.btn-crearCuenta{
    background-color: royalblue;
}

/*Contenedor para los botones*/
.social-buttons{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Google Sign-In button container */
#googleSignInDiv {
    display: inline-block;
}

/* Facebook Sign-In button container */
#facebookSignInDiv{
    display: inline-block;
}

.fb-login-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1877F2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.fb-login-button:hover {
    background-color: #166FE5;
}

.fb-login-button i {
    color: white;
    font-size: 22px;
}

.p_cabeza {
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
}

.cuentita{
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
}

.logo-icon {
    width: 60px;
    height: auto;
    vertical-align: middle;
    margin: 0 10px;
}

.icono-boton {
    margin-right: 0.3rem;
}

.divider {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.divider span {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 0 10px;
    color: #999;
}


